@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(32, 32, 32, 0.15);
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-black: #000;
  --color-darkslategray: rgba(41, 45, 50, 0.67);
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-21xl: 40px;
  --gap-31xl: 50px;
  --gap-xl: 20px;
  --gap-9xl: 28px;

  /* Paddings */
  --padding-4xl: 23px;
  --padding-2xl: 21px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-mid: 17px;
}
